@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
 --heading-color:#28275E;
 --text-font: 'Nunito', sans-serif;
 --subheading-color:#FE1283;

}
body {
	font-family: var(--text-font);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
section.header  {
    margin: 0px 40px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav nav ul {
    display: flex;
    align-items: center;
}
.nav nav li{
	list-style: none;
	margin-left: 25px;
}
.nav nav li a {
    font-weight: 600;
    color: #818181;
    text-decoration: none;
    font-size: 18px;
}
a.cont-btn {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--heading-color);
    color: white!important;
    text-decoration: none;
}

section#hero {
    padding: 40px 40px 60px 40px;
    background-color: #F9F9F9;
}
.content {
    width: 636px;
}
.hero {
	justify-content: space-between;
    display: flex;
    align-items: center;
}
.content h1 {
	color: var(--heading-color);
    line-height: normal;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
}
.content p {
    font-weight: 500;
    line-height: 41px;
    font-size: 22px;
    font-style: normal;
}
section#about-us {
    text-align: center;
    padding: 40px 40px 60px 40px;
}
h2.upper-heading {
    font-size: 18px;
    font-weight: 600;
    color: var(--subheading-color);
    font-style: normal;
}
#about-us h1 {
    color: #28275E;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#about-us p {
    color: #6B6B6B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 41px;
}
section#core-values {
    background-color: var(--heading-color);
    text-align: center;
    padding: 40px 40px 60px 40px;
    color: white;
}
#core-values h1, #contact-us h1, #team h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cards-content {
    border-radius: 22px;
    width: 298px;
    height: 364px;
    background-color: white;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.06);
}
.cards-content img {
    width: 78.255px;
    height: 78.255px;
    margin-top: 45px;
}
p.card-text {
	padding: 0px 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    color: #6B6B6B;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3.card-heading {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--heading-color);
}
section#team {
    text-align: center;
	padding: 40px 40px 60px 40px;
}
.our-team-card {
    color: white;
    border-radius: 22px;
    background: #28275E;
    width: 413px;
    height: 203px;
    text-align: center;
}
h3.team-heading {
    padding-top: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h2.team-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
a.team-icon {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.our-team {
	margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section#contact-us{
	 padding: 40px 40px 60px 40px;
	 background-color: #F9F9F9;
	text-align: center;
}
.form-container{
	display: flex;
	justify-content: space-around;
	margin:10px; 
}
.form-fields{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 10px;
}
.form-fields label{
	font-size: 20px;
	margin: 20px 30px 15px;
	color: var(--heading-color);
	font-weight: 600;
	font-style: normal;
}
.form-fields input{
	border-radius: 6px;
	border: 1px solid #D7D7D7;
	width: 400px;
	height: 50px;
	margin-left: 26px;
}
.form-fields input::placeholder,.for-message textarea::placeholder{
	font-size: 16px;
	padding-left: 10px;
	margin: 20px 0px 15px;
}
.for-message textarea{
	height: 205px;
	max-width: 840px;
	width: 100%;
	margin: 20px 0px 15px 20px; 
	border-radius: 6px;
	border: 1px solid #D7D7D7;
	background: #FFF;
}
.contact-form{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.for-btn input{
	background-color: var(--heading-color);
	color: white;
	height:60px;
	margin: 20px 0px 15px 20px;
 	max-width: 840px;
 	width: 100%;
}
