@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
 --heading-color:#28275E;
 --text-font: 'Nunito', sans-serif;
 --subheading-color:#FE1283;

}
body {
	font-family: var(--text-font);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
section.header  {
    margin: 0px 40px;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav nav ul {
    display: flex;
    align-items: center;
}
.nav nav li{
	list-style: none;
	margin-left: 25px;
}
.nav nav li a {
    font-weight: 600;
    color: #818181;
    text-decoration: none;
    font-size: 18px;
}
a.cont-btn {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--heading-color);
    color: white!important;
    text-decoration: none;
}

section#hero {
    padding: 10px 45px;
    background-color: #F9F9F9;
}
.content {
    width: 636px;
}
.hero {
	justify-content: space-between;
    display: flex;
    align-items: center;
}
.content h1 {
	color: var(--heading-color);
    line-height: normal;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
}
.content p {
    font-weight: 500;
    line-height: 41px;
    font-size: 22px;
    font-style: normal;
}